/* colors */ 
:root {
    --violet-custom: hsl(268, 34%, 53%);
    --greenblue: hsl(192, 37%, 48% );
    --blackih: hsl(240, 21%, 20%);
    --grey-custom: hsl(240, 10%, 57%);
    --bluegreen: hsl(192, 90%, 77%);
    --violet-lightL: hsl (268, 100%, 86%);
    --white98: hsl(0,0%, 98%);
    --avatarheight: 110px

}

body {
    font-family: 'Red Hat Display', sans-serif;
    box-sizing: border-box;
    font-size: 18px;
    
}

h1 {
    font-size: 3.8rem;
}
h2 {
    font-size: 2.2rem;
    }

div {
color: var(--blackih);
}

.top {
    text-align: center;
    padding: 5vh;
}
.grid-container {
    display: grid;
    grid-template-columns: 29% 42% 29%;
    row-gap: 10%;
    padding-top: 40px;

 
}

.top-container {
    height: 98vh;

}

.gridspecial {
    text-align: center;
}

.griditem{
    padding: 30px;
}
.avatar {
    border-radius: 50%;
  width: 110px;
}

.grid2, .grid5 {
    transform: translateY(-55px);
}

.grid8, .grid11 {
    transform: translateY(55px);
}

.left, .right {
    display: grid;
    grid-template-columns: auto auto auto;  
      row-gap: 10%;

}
.left{
    transform: translateX(-30px);
}

.right{
    transform: translateX(70px);
}


a.button:link
a.button:visited{
    border: 5px solid black;
}

.button:hover {
    opacity: 0.67;
    cursor: pointer
}
.btn-green {
    background-color: var(--greenblue);
    color: var(--white98);
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    height: 24px;
    font-weight: 500;

}
.btn-purple {
    background-color: var(--violet-custom);
    color: var(--white98);
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    height: 24px;
    font-weight: 500;

    
}
.description {
    margin-bottom: 60px;
    font-size: 18px;
    text-align: center;
}


.version {
    color: var(--bluegreen)
}

.page-number {
    text-align: center;
 bottom: 50px;
 left: 48%;
position: absolute;


}
.page-number-span {
    border-radius: 50%;
    border: 1px solid var(--grey-custom);
  padding: 16px;
 
    }

.page2{
        bottom: -80px;
        position: absolute;
        z-index: 2;
    }

.page2-inside {
    background-color: white;
}

.page2-description{
padding-bottom: 70px;
}

.line {
    position: absolute;
   min-width: 90px;
       height: 1px;
    transform: rotate(90deg);
   bottom: 150px;
   left: calc(48% - 20px);
background-color: var(--grey-custom);}

.page2-line {
    bottom: 10px;
    left: calc(48% - 16px);
}

/*
.page-number-span::after {
    content: "";
    top: -36px;
    left: -8px;
    border: 1px solid var(--grey-custom);
    background-color: var(--grey-custom);
    position: relative;
}*/

.image-grid-containter {

    display: grid;
grid-template-columns: auto auto auto auto;
column-gap: 20px;
justify-content: space-evenly;

margin-bottom: 10vh;

}

.image-in-grid {
    max-height: 320px;
    border-radius: 8px;

}


.overline {
    font-size: 16px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: var(--greenblue);
    font-weight: 500;
}



.centered-box{
    text-align: center;
max-width: 33vw;
padding-right: 33%;
padding-left: 33%;
position: relative;}



.like-a-footer {
 text-align: center;  
 display: grid;
 color: white;
 grid-template-columns: auto auto auto;
 background-image: linear-gradient(rgba(77,150,168 , 0.8), rgba(77,150,169, 0.8)), url(./assets/desktop/image-footer.jpg);
 background-color: hsla(192, 37%, 48%, 0.8);
 background-repeat: no-repeat;
 background-size: cover;
 justify-items: center;
  padding: 0;
 margin:0;
 min-height: 400px;
 position: relative;

}

.heading-botom {
display: block;
color: white;

}


.heading-botom-element{
   display: block;
   color: white;


}

.bottom-element{
top: 40%;
position: relative;

}



@media only screen and (max-width: 1050px) {
.grid-container{
   grid-template-columns: 50% 50%;
   margin: 0;
   padding: 0;
   row-gap: 5%;
   padding-top: 40px;
   position: relative; 
    
}
h1 {
    font-size: 3rem;
}

.right{
    transform: translateX(0px);
    grid-column: 2;
    grid-template-columns: 33% 33% 33%;
 
}
.left{
    transform: translateX(0px);
    margin: 0;
    padding: 0;
    grid-column: 1;
    grid-template-columns: 33% 33% 33%;


}

.avatar {
    max-width: 14vw;
    max-height: 136px;

}
.griditem{
    padding: 1px;
    max-width: 14vw;
    max-height: 140px;

}

.grid7, .grid10, .grid9, .grid12 {
    transform: translateY(-50px);
}

.grid8, .grid11 {
    transform: translateY(0);
}
.center {
    grid-column: 1 / span 2;
    grid-row: 2;
}
.image-in-grid {
    max-width: 33vw;
    border-radius: 8px;

}


.image-grid-containter {
    grid-template-columns: auto auto;
    padding-top: 50px;
}   



 .centered-box{
    max-width: 85vw;
    padding-right: 5%;
    padding-left: 5%
  }
  .like-a-footer {
      display: flex;
      text-align: center;
      justify-content: space-evenly;
      flex-direction: column;
      
  }

  .page-1-number{
bottom: -170px;
  }

  .page-1-number-line {
bottom: -70px;
  }
}


@media only screen and (min-width: 600px) {
    .image-grid-containter {
        grid-template-columns: auto auto auto auto;
    }   
    .image-in-grid {
        max-width: 22vw;
        border-radius: 8px;
    
    }
}